@import 'reset.scss';
// Bootstrap Variables
// $icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
// @import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

* {
  box-sizing: border-box; 	// The width and height properties include content, padding and border, but not the margin
}

html {
  font-family: sans-serif;
}

body {
  background-color: #fff;
  color: #333;
  font: 13px/1.4 Helvetica, arial, sans-serif;
  word-wrap: break-word; // unbreakable words may be broken at arbitrary points
}

a {
  background-color: transparent;
  color: #4078c0;
  text-decoration: none;
}

input {
  overflow: visible;

  &:focus {
    border-color: #4078c0;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075),0 0 5px rgba(81,167,232,0.5);
  }
}

ul {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

li {
  display: list-item;
}

img {
  border-style: none;
}

h1 {
  font-size: 30px;
  margin: 0.67em 0;
}

h3 {
  font-size: 16px;
  line-height: 1.5;
}

.header {
  background-color: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 0;
}

.container {
  margin: 0 auto;
  width: 980px;
}

.container::before { // ::before pseudo-element can be used to insert some content before the content of an element
  content: "";
  display: table;
}

.container::after {
  content: "";
  display: table;
}

.clearfix::before { // clearfix is a way for an element to automatically clear its child elements
  clear: both;
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

.header-logo {
  color: #333;
  float: left;
  margin: auto 10px auto -2px;
  white-space: nowrap; // collapses whitespace as for normal, but suppresses line breaks (text wrapping) within text.

  .octicon-mark-github {
    float: left;
    font-size: 28px;
  }
}

.octicon {
  display: inline-block;
  fill: currentColor; // pass color through to SVG shapes
  vertical-align: text-top;

  &:hover{
    color: #4078c0;
  }
}

.header-search {
  float: left;
  margin-right: 10px;
  width: 360px;
}

.header-search-input {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: none;
  color: #333;
  display: table-cell;
  font-size: 13px;
  min-height: 28px;
  outline: none;
  padding: 0 8px;
  vertical-align: middle;
  width: 100%;
}

.header-nav {
  list-style: none;
}

.left {
  float: left !important;
}

.header-nav-item {
  float: left;
}

.header-nav-link {
  color: #333;
  display: block;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  padding: 4px 8px;

  &:hover{
    color: #4078c0;
  }
}

.user-nav {
  margin-right: -8px;

  .header-nav-link{
    height: 28px;
  }

  .avatar {
    float: left;
    height: 20px;
    margin-right: 5px;
    width: 20px;
  }

  .octicon {
    margin-top: -1px;
    text-align: center;
    width: 16px;
  }
}

.avatar {
  border-radius: 3px;
  display: inline-block;
  line-height: 1;
  overflow: hidden;
  vertical-align: middle;
}

.right {
  float: right !important;
}

.octicon-plus {
  margin-right: 1px;
}

.dropdown-caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: -2px;
  content: "";
  border: 4px solid;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.page-content {
  padding-top: 20px;
}

.columns {
  margin-left: -10px;
  margin-right: -10px;
}

.column {
  padding-left: 10px;
  padding-right: 10px;
  float: left;

  .avatar{
    border-radius: 6px;
    height: 230px;
    width: 230px;
  }
}

.column-left {
  width: 25%;
}

.names {
  line-height: 1;
  margin: 12px auto;
}

.fullname {
  font-size: 26px;
  line-height: 30px;
}

.username {
  color: #666;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
}

.details {
  border-top: 1px #e5e5e5 solid;
  list-style: none;
  padding-bottom: 15px;
  padding-top: 15px;
}

.detail {
  display: inline-block;
  font-size: 14px;
  max-width: 100%;
  overflow: hidden;
  padding: 3px auto 3px 24px;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;

  .octicon {
    color: #999;
    float: left;
    margin-right: 8px;
    text-align: center;
    width: 16px;
  }
}

.join-label {
  margin-right: 4px;
}

.stats {
  border-bottom: 1px #e5e5e5 solid;
  border-top: 1px #e5e5e5 solid;
  margin-bottom: 12px;
  padding-bottom: 12px;
  padding-top: 12px;
  text-align: center;
  &::after {
    display: table;
    clear: both;
    content: "";
  }
}

.stat {
  float: left;
  font-size: 11px;
  text-transform: capitalize;
  width: 33.33%;
}

.stat-count {
  display: block;
  font-size: 28px;
  font-weight: bold;
  line-height: 1;
}

.text-muted {
  color: #767676;
}

.org-item {
  display: inline-block;
  margin-bottom: 3px;

  img {
    border-radius: 3px;
    height: 42px;
    width: 42px;
  }
}

.column-right {
  width: 75%;
}

.nav {
  border-bottom: 1px solid #ddd;
  margin: 0 auto 15px;
}

.right {
  float: right !important;
}

.btn {
  background-color: #eee;
  background-image: linear-gradient(#fcfcfc, #eee);
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  padding: 6px 12px;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;

  .octicon {
    vertical-align: text-top;
  }
}

.btn-sm {
  padding: 2px 10px;
}

.octicon-pencil {
  padding-right: 3px;
}

.tabs {
  margin-bottom: -1px;
}

.tab {
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom: 0;
  color: #666;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  padding: 8px 12px;
  text-decoration: none;

  &.selected {
    background-color: #fff;
    border-color: #ddd;
    border-radius: 3px 3px 0 0;
    color: #333;

  }

  .octicon {
    overflow: hidden;
  }

  .octicon-diff-added {
    height: 16px;
    padding-right: 18px;
    width: 14px;
  }

  .octicon-repo {
    height: 16px;
    padding-right: 16px;
    width: 12px;
  }

  .octicon-rss {
    height: 16px;
    padding-right: 14px;
    width: 10px;
  }
}

.repos {
  position: relative !important;
}

.repos-filter-bar {
  background-color: #fff;
  border-bottom: 1px #e5e5e5 solid !important;
  border-color: #ddd;
  padding: 0 0 12px;
  position: relative;

  &:before {
    display: table;
    content: "";
  }
}

.btn-primary {
  background-color: #60b044;
  background-image: linear-gradient(#8add6d, #60b044);
  border-color: #5ca941;
  color: #fff;
  margin-left: 12.5px;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.15);

  .octicon-repo {
    height: 16px;
    padding-right: 15px;
    width: 12px;
  }
}

.repo-nav-list {
  margin-top: 6px;
}

.repo-nav-item {
  font-size: 14px;
  list-style: none;
  margin-left: 12px;
  position: relative;
}

.repo-filter-tab {
  &.selected {
    color: #000;
    font-weight: bold;
  }
}

.repo-search-form {
  display: inline;

  .form-control {
    margin-right: 4px;
    width: 260px;
  }
}

.form-control {
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 1px solid #ddd;
  color: #333;
  font-size: 13px;
  min-height: 34px;
  outline: none;
  padding: 7px 8px;
  vertical-align: middle;
}

.repo-list {
  position: relative;
}

.repo-list-item {
  border-bottom: 1px solid #eee;
  list-style: none;
  padding-bottom: 30px;
  padding-top: 30px;
  position: relative;
}

.repo-list-stats {
  color: #888;
  float: right;
  font-size: 12px;
  font-weight: bold;
  margin-top: 6px;

  .repo-list-stat-item {
    color: #888;
    display: inline-block;
    margin-left: 8px;
    position: relative;
    text-decoration: none;

    .octicon {
      font-size: 16px;
      margin-right: 3px;
      overflow: hidden;
      vertical-align: bottom;
    }
  }

  .octicon-star {
    height: 16px;
    width: 14px;
  }

  .octicon-git-branch {
    height: 16px;
    width: 10px;
  }
}

.repo-list-name {
  font-size: 20px;
  line-height: 1.2;
  margin: 0 0 8px;
}

.repo-list-meta {
  color: #888;
  display: block;
  font-size: 13px;
  margin-top: 8px;
  margin-bottom: 0;

  span {
    margin-left: 3.5px;
  }
}
